@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.App {
  min-height: 100vh;
  background-color: #3E4451;
  font-family: 'Karla', sans-serif;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #eee;
}

header > div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

header img {
  height: 80%;
}

.scores {
  font-size: 1.5rem;
}

.score {
  color: #90ee90;
}

.high-score {
  color: #ff7276;
}

.cards {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 12px;
  height: 300px;
  width: 150px;

  display: grid;
  grid-template-rows: 4fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;

  position: relative;
}

.card > img{
  height: 240px;
  cursor: pointer;
}

.card > a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.card > a:hover{
  text-decoration: underline;
}

.card > a::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 150px;
  top: 82%;
  left: 0;
  background-color: #333;
}
